@model List<Article>
<section class="section">
	<div class="container">

		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Politics</h2>
			</div>
			<div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">View All</a></div>
		</div>

		<div class="row">

			@foreach (var item in Model)
			{
				<div class="col-lg-4 mb-4">
					<div class="post-entry-alt">
						<a href="/Blog/BlogDetail/@item.ArticleId" class="img-link"><img src="@item.CoverImageUrl" style="width:412px; height:276px" alt="Image" class="img-fluid"></a>
						<div class="excerpt">
							<h2><a href="/Blog/BlogDetail/@item.ArticleId">@item.Title</a></h2>
							<div class="post-meta align-items-center text-left clearfix">
								<figure class="author-figure mb-0 me-3 float-start"><img src="@item.Writer.Image" alt="Image" class="img-fluid"></figure>
								<span class="d-inline-block mt-1">By <a href="#">@item.Writer.FirstName @item.Writer.LastName &nbsp;-&nbsp; @item.Category.Name</a></span>
								<span>&nbsp;-&nbsp; @item.CreatedDate.ToLongDateString()</span>
							</div>
							<p>@item.Description.Substring(0,150)...</p>
							<p><a href="/Blog/BlogDetail/@item.ArticleId" class="read-more">Continue Reading</a></p>
						</div>
					</div>
				</div>
			}		
		</div>
	</div>
</section>