@model List<Blogy.EntityLayer.Concrete.Article>
<section class="section">
	<div class="container">

		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Politics</h2>
			</div>
			<div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">View All</a></div>
		</div>

		<div class="row">

			@foreach (var item in Model)
			{
				<div class="col-lg-4 mb-4">
					<div class="post-entry-alt">
						<a href="single.html" class="img-link"><img src="~/Template/blogy-1.0.0/images/img_7_horizontal.jpg" alt="Image" class="img-fluid"></a>
						<div class="excerpt">


							<h2><a href="single.html">@item.Title</a></h2>
							<div class="post-meta align-items-center text-left clearfix">
								<figure class="author-figure mb-0 me-3 float-start"><img src="@item.CoverImageUrl" alt="Image" class="img-fluid"></figure>
								<span class="d-inline-block mt-1">By <a href="#">@item.Writer.FirstName @item.CategoryId</a></span>
								<span>&nbsp;-&nbsp; July 19, 2019</span>
							</div>

							<p>@item.Description</p>
							<p><a href="#" class="read-more">Continue Reading</a></p>
						</div>
					</div>
				</div>
			}
			
			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a href="single.html" class="img-link"><img src="~/Template/blogy-1.0.0/images/img_6_horizontal.jpg" alt="Image" class="img-fluid"></a>
					<div class="excerpt">


						<h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start"><img src="~/Template/blogy-1.0.0/images/person_2.jpg" alt="Image" class="img-fluid"></figure>
							<span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
							<span>&nbsp;-&nbsp; July 19, 2019</span>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a href="single.html" class="img-link"><img src="~/Template/blogy-1.0.0/images/img_5_horizontal.jpg" alt="Image" class="img-fluid"></a>
					<div class="excerpt">


						<h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start"><img src="~/Template/blogy-1.0.0/images/person_3.jpg" alt="Image" class="img-fluid"></figure>
							<span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
							<span>&nbsp;-&nbsp; July 19, 2019</span>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a href="single.html" class="img-link"><img src="~/Template/blogy-1.0.0/images/img_4_horizontal.jpg" alt="Image" class="img-fluid"></a>
					<div class="excerpt">


						<h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start"><img src="~/Template/blogy-1.0.0/images/person_4.jpg" alt="Image" class="img-fluid"></figure>
							<span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
							<span>&nbsp;-&nbsp; July 19, 2019</span>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a href="single.html" class="img-link"><img src="~/Template/blogy-1.0.0/images/img_3_horizontal.jpg" alt="Image" class="img-fluid"></a>
					<div class="excerpt">


						<h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start"><img src="~/Template/blogy-1.0.0/images/person_5.jpg" alt="Image" class="img-fluid"></figure>
							<span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
							<span>&nbsp;-&nbsp; July 19, 2019</span>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a href="single.html" class="img-link"><img src="~/Template/blogy-1.0.0/images/img_2_horizontal.jpg" alt="Image" class="img-fluid"></a>
					<div class="excerpt">


						<h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start"><img src="~/Template/blogy-1.0.0/images/person_4.jpg" alt="Image" class="img-fluid"></figure>
							<span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
							<span>&nbsp;-&nbsp; July 19, 2019</span>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a href="single.html" class="img-link"><img src="~/Template/blogy-1.0.0/images/img_1_horizontal.jpg" alt="Image" class="img-fluid"></a>
					<div class="excerpt">


						<h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start"><img src="~/Template/blogy-1.0.0/images/person_3.jpg" alt="Image" class="img-fluid"></figure>
							<span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
							<span>&nbsp;-&nbsp; July 19, 2019</span>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a href="single.html" class="img-link"><img src="~/Template/blogy-1.0.0/images/img_4_horizontal.jpg" alt="Image" class="img-fluid"></a>
					<div class="excerpt">



						<h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start"><img src="~/Template/blogy-1.0.0/images/person_2.jpg" alt="Image" class="img-fluid"></figure>
							<span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
							<span>&nbsp;-&nbsp; July 19, 2019</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a href="single.html" class="img-link"><img src="~/Template/blogy-1.0.0/images/img_3_horizontal.jpg" alt="Image" class="img-fluid"></a>
					<div class="excerpt">



						<h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start"><img src="~/Template/blogy-1.0.0/images/person_5.jpg" alt="Image" class="img-fluid"></figure>
							<span class="d-inline-block mt-1">By <a href="#">David Anderson</a></span>
							<span>&nbsp;-&nbsp; July 19, 2019</span>
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
						<p><a href="#" class="read-more">Continue Reading</a></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>